@font-face {
  font-family: Space-Age;
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/HomePage/space_age.woff");
}
.our-cansat1 {
  background-image: url(../../assets/projects/black_water_darkened\ 13.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  padding-bottom: 5%;
}
.cansat1-heading {
  color: #f15831;
  font-family: "Space-Age";
  font-size: 10vh;
  text-align: center;
}
.data_back1 {
  background-color: #4844449a;
  /* opacity: 70%; */
  border-radius: 40px;

  padding: 1px;
  padding-top: 1px !important;
}
.data_back2{
  background-color: #4844449a;

}
.text-heading {
  background-color: #f15831 !important;
  color: #ffffff;
  font-family: "Montserrat";
  font-style: "Bold";
  font-size: 200%;
  text-align: center;
  align-self: center;
  padding: 30px;
  line-height: 100%;
  border-radius: 89px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.justify-content {
  text-align: justify;
}
.cansat1li {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: "SemiBold";
  font-size: 25px;
}

.cansat1p {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: "SemiBold";
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
}
.cansat1ul {
  padding: 50px;
}
.cansat1img {
  padding: 1px;
  padding-top: 1px !important;
  width: 100%;
  height: 75%;

  margin-top: 50px;
  margin-bottom: 1px !important;
}
.cansat2img {
  padding: 1px;
  padding-top: 1px !important;
  width: 100%;
  height: 10%;
  margin-top: 50px;
  margin-bottom: 1px !important;
}
#multi-item-example .carousel-indicators li {
  background-color: #666;
}
.homeslider img {
  height: 75vh;
  width: 100%;
  margin-top: 1px !important ;
}
.homeslider {
  margin: 5%;
  margin-left: 175px !important;
  margin-right: 200px !important;
}
.logoimg {
  width: 5%;
  height: 5%;
}
.logop {
  color: #ffffff;
  font-family: "Montserrat";
  font-style: "SemiBold";
  font-size: 20px;
  text-align: center;
}

.present-cansat {
  display: grid;
  grid-template-columns: 27% 60%;
  justify-content: space-evenly;
  padding: 5% 0 8% 0;
}

.ploadImg {
  width: 80%;
  margin: 30% 0;
  /* margin-top: 0!important; */
  margin-left: 10%!important;
  height: 45vh;
  /* height: 100% !important; */
}

.csatImg {
  width: 80%;
  margin-left: 10%!important;
}

.model{
  margin-left: 100px!important;
}
