.sac2021-page{
    background-image: url('../../assets/SAC2021/black_water_darkened.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
}